/**/.idea
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/discord.xml
/.idea/deploymentTargetDropDown.xml
/app/release/app-release.apk
/app/release/output-metadata.json
/key.properties
/sentry.properties
/dev.properties
/keystore.properties
/**/release/*
*.jks