<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".TraewellingApplication"
        android:dataExtractionRules="@xml/backup_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Traewelling"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <activity
            android:name=".ui.info.InfoActivity"
            android:exported="false" />

        <meta-data
            android:name="io.sentry.dsn"
            android:value="${SENTRY_DSN}" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.Traewelling.Login"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <intent-filter>
                <action android:name="de.hbch.traewelling.HANDLE_AUTHORIZATION_RESPONSE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="https" />
                <data
                    android:scheme="http" />
                <data
                    android:host="app.traewelldroid.de" />
                <data
                    android:pathPrefix="/oauth2redirect"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.launcher.LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Traewelling.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="app.traewelldroid.de" />
                <data android:pathPrefix="/auth/login" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="traewelling.de" />
                <data android:pathPrefix="/status" />
                <data android:pathPrefix="/trains/stationboard" />
                <data android:pathPrefix="/@" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="app.traewelldroid.de"
                    android:scheme="https" />
                <data
                    android:host="app.traewelldroid.de"
                    android:scheme="traewelldroid" />
                <data android:pathPrefix="/auth/login" />
            </intent-filter>
        </activity>
    </application>

</manifest>